<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ucsd.cse110fa16.group14.ipark">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".iPark"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InicioSesion"/>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <<<<<<< HEAD -->
        <!-- ======= -->
        <!-- <activity android:name=".FoundSpaceAndReserve" /> -->

        <activity android:name=".RegistroConductor" />
        <!-- >>>>>>> 6e2eecc5cfbcfd58750e585524413a7a3e4366be -->
        <activity android:name=".Pago" />
        <activity android:name=".Reloj" />
        <activity android:name=".activity_revision" />
        <activity android:name=".conteo" />
        <activity android:name=".InformacionPersonal" />
        =======

        >>>>>>> d616484625deada12c4b671e2a9ea916f5f9369b
        <activity android:name=".CuentaRegresiva" />
        <activity android:name=".DirigirEmergencia" />
        <activity android:name=".DirigirMapa" />
        <activity android:name=".Comentario" />
        <activity android:name=".Reservation" />
        <activity android:name=".Mapa" />
        <activity android:name=".ReportIllegal" />
        <activity android:name=".Emergencia" />
        <activity android:name=".Configuracion" />
        <activity
            android:name=".Mostrar"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".RecibirReportes" />
        <activity android:name=".Mensajes" />
        <activity android:name=".ReportarError" />
        <activity android:name=".CambiarContrasena" />
        <activity android:name=".RecibirEstacionamiento" />
        <activity android:name=".Resume">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".PaginaUsuario" />
        <activity android:name=".HistoriaUsuario" />
        <activity android:name=".HistorialReservas" />
        <activity android:name=".MensajesUsuariosActivity" />
        <activity android:name=".AyudarUsuario" />
        <activity android:name=".PaginaInicio" />
        <activity android:name=".ElegirHoraSalidaActivity" />
        <activity android:name=".HistorialInformes" />

    </application>

</manifest>